# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# Static & media files
media/
staticfiles/

# Python build files
build/
dist/
*.egg-info/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Migrations (optional)
# */migrations/*.py
# !*/migrations/__init__.py